* {
  box-sizing: border-box;
  color: white;
}
:root {
  --darkMaroon: #370617;
  --darkPurple: #1d0515;
  --darkGrey: #979c9f;
}
body,
html {
  font-family: Arial, sans-serif;
}
body {
  height: 100vh;
}

header {
  background-color: var(--darkMaroon);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
header div {
  margin: 0 1em;
}
#header-logo {
  width: 50px;
  height: 50px;
}
main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: calc(100vh - 62.4px);
}
.column {
  height: 100%;
}
.column.channel-column {
  display: flex;
  flex-direction: column;
  width: 150px;
  background-color: var(--darkPurple);
  padding: 10px;
}
.column.message-board {
  flex: 1;
  background-color: var(--darkGrey);
  padding: 10px;
}
.column.members-column {
  width: 250px;
  padding: 10px;
  overflow-y: auto;
  background-color: var(--darkPurple);
}
.members-column p {
  margin-bottom: 0.5em;
}

.member {
  margin-bottom: 0.25em;
  width: 100%;
  background-color: var(--darkMaroon);
}
.search-bar {
  flex: 1;
  color: black;
}
.create-channel-button,
.invite-button,
.channel-button,
.remove-button,
.promote-button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  background-color: var(--darkMaroon);
}
.create-channel-container {
  border-bottom: 1px solid white;
}
.select-channel-container {
  flex: 1;
  overflow-y: auto;
  margin: 1em 0;
}
.channel-button {
  width: 90%;
  margin-right: 2px;
}
.profile-container {
  display: flex;
  align-items: center;
}
.profile-username-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  padding: 5px;
}
.profile-username-wrapper:hover {
  background-color: #979c9f;
}
/*To style the scroll bars and make them thinner than normal*/
::-webkit-scrollbar {
  width: 5px;
  background-color: black;
}
::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

.profile-container img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
}
.profile-container > * {
  margin: 0.125em;
}

#message-search-bar {
  width: 100%;
  color: black;
}

.message-board {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.message-container {
  flex: 1;
  overflow-y: auto;
}
.message {
  background-color: var(--darkMaroon);
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
}
.deleteButton {
  background-color: #979c9f;
  height: 22px;
  margin-left: 1em;
}

.message-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
  margin-top: 0.5em;
  color: black;
}
.small-text {
  font-size: small;
}
.settings-button,
.help-button {
  background-color: var(--darkMaroon);
}
.settings-button {
  background-color: white;
  padding: 5px;
}
.hide{
  display: none;
}
#message-input-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.message-input{
  flex: 1;
}
.joke-button{
  background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0 6px 8px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.joke-button:hover{
    background-color: #45a049;
}


/* For the promote/remove modal */
#user-modal-question{
  margin-bottom: 1em;
}
#userModal {
  display: none; /* Modal starts of with no display, when the button is clicked js shows it */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 1em 1em;
  z-index: 2; /* This ensures that it's given priority over the overlay */
}
#removeUser, #promoteUser{
  border: none;
  background-color: var(--darkMaroon);
  color: white;
  height: 2em;
  width: 10em;
  border-radius: 1em 1em;
}
/* This is what blurs the background when the modal is appears*/
#overlay {
  display: none; /* This initially hides the overlay, when the button is clicked in js it show the overlay*/
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%; /* This is to ensure that it covers the entire screen */
  height: 100%;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* SO the background is black but kinda blurry*/
  backdrop-filter: blur(12px);
  z-index: 1;
}