<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GuildTalk Channel Page</title>
    <link rel="stylesheet" href="../static/css/Reset.css">
    <link rel="stylesheet" href="../static/css/ChannelPage.css">
    <script src="../static/js/ChannelPage.js" data-username="{{ username }}"></script>
</head>
<body>
<header>
    <!-- Logo -->
    <div class="logo"><img src="../static/images/GuildTalkLogoWithTextClear.png" id="header-logo" alt="GuildTalk logo" ></div>
    <!-- Channel Title -->
    <div class="channel-title">Guild Talk</div>
    <!-- Search bar to find messages in message board -->
    <div class="search-bar">
        <label for="message-search-bar"></label><input type="text" id = "message-search-bar" placeholder="Search messages">
    </div>
    <!-- Button for help, will redirect to something?? -->
    <button class="help-button" onclick="redirectToPage('https://stackoverflow.com/')">help button</button>
</header>
<main>
    <!-- First Column For Channel Selection -->
    <div class="column channel-column">
        <div class = "create-channel-container">
            <button class="create-channel-button" onclick="createChannel()">Create Channel</button>
            <button class="invite-button">Invite</button>
            <button class="remove-button">Remove a User</button>
            <button class="promote-button">Promote a User</button>
        </div>
        <div class="select-channel-container">
        {#This container will be filled by the following for loop.         #}
          {% for channel in channels %}
                <button class="channel-button" onclick="setChannel(this.innerText)">{{ channel}}</button>
          {% endfor %}
        </div>

        <div class="profile-container">
            <div class = profile-username-wrapper onclick="redirectToPage('\profile')">
                <img src="../static/images/GuildTalkLogoNoTextClear.png" alt="Profile Picture">
                <div class="username">Username</div>
            </div>
            <button class="settings-button"></button>
        </div>
    </div>
    <!-- Second Column For Messages-->
    <div class="column message-board">
        <!--Example messages -->
        <div class="message-container">

        </div>
        <!-- Message input field -->
        <label>
            <textarea class="message-input" id="message-input-id" placeholder="Type your message"></textarea>
        </label>
    </div>
    <!-- Third Column -->
    <div class="column members-column">
        <p class = "small-text">Channel Members</p>
        <!-- The users in this channel will go here -->
        <div class="member-container">
        </div>
        <!-- This is where the -->
        <p class="small-text">Admins</p>
        <div class="admin-container">

        </div>
    </div>
</main>
</body>
</html>
