<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GuildTalk Channel Page</title>
    <link rel="stylesheet" href="../static/css/Reset.css">
    <link rel="stylesheet" href="../static/css/ChannelPage.css">
    <script src="../static/js/ChannelPage.js" data-username="{{ username }}"></script>
</head>
<body>
<header>
    <!-- Logo -->
    <div class="logo"><img src="../static/images/GuildTalkLogoWithTextClear.png" id="header-logo" alt="GuildTalk logo">
    </div>
    <!-- Channel Title -->
    <div class="channel-title">Guild Talk</div>
    <!-- Search bar to find messages in message board -->
    <div class="search-bar">
        <label for="message-search-bar"></label><input type="text" id="message-search-bar"
                                                       placeholder="Search messages">
    </div>
    <!-- Button for help, will redirect to something?? -->
    <div class="help-button">
        <form action="{{ url_for('help') }}">
            <button type="submit">Help</button>
        </form>
    </div>
</header>
<main>
    <!-- First Column For Channel Selection -->
    <div class="column channel-column">
        <div class="create-channel-container">
            <button class="create-channel-button" onclick="createChannel()">Create Channel</button>
            <button class="invite-button" onclick="inviteToChannel()">Invite</button>
        </div>
        <div class="select-channel-container">
            {# This container will be filled by the following for loop. #}
            {% for channel in channels %}
                <button class="channel-button" onclick="setChannel(this.innerText)">{{ channel }}</button>
            {% endfor %}
        </div>

        <div class="profile-container">
            <div class=profile-username-wrapper onclick="redirectToPage('\profile')">
                <img src="../static/images/GuildTalkLogoNoTextClear.png" alt="Profile Picture">
                <div class="username">Username</div>
            </div>
            <button class="settings-button"></button>
        </div>
    </div>
    <!-- Second Column For Messages-->
    <div class="column message-board">
        <!--Example messages -->
        <div class="message-container">

        </div>
        <!-- Message input field -->
        <div id="message-input-container">
            <textarea class="message-input" id="message-input-id" placeholder="Type your message"></textarea>
            <button class="joke-button" id="joke-button-id">#joke</button>
        </div>

    </div>
    <!-- Third Column -->
    <div class="column members-column">
        <p class="small-text">Channel Members</p>
        <!-- The users in this channel will go here -->
        <div class="member-container">
        </div>
        <!-- This is where the -->
        <p class="small-text">Admins</p>
        <div class="admin-container">

        </div>
    </div>

    <!-- This is the modal that appears when an admin clicks on a member button -->
    <div id="userModal">
        <p id="user-modal-question"></p>
        <button class="button" id="removeUser">Remove User</button>
        <button class="button" id="promoteUser">Promote User</button>
    </div>

    <div id="overlay"></div>
</main>
</body>
</html>
