<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GuildTalk Direct Messages Page</title>
    <link rel="stylesheet" href="css/Reset.css">
    <link rel="stylesheet" href="css/ChannelPage.css">
    <script src="js/ChannelPage.js"></script>
</head>
<body>
<header>
    <!-- Logo -->
    <div class="logo"><img src="images/GuildTalkLogoWithTextClear.png" id="header-logo" alt="GuildTalk logo" ></div>
    <!-- Person's Name -->
    <div class="person-name">Person's Name</div>
    <!-- Search bar to find messages in message board -->
    <div class="search-bar">
        <label for="message-search-bar"></label><input type="text" id = "message-search-bar" placeholder="Search messages">
    </div>
    <!-- Button for help, will redirect to something?? -->
    <button class="help-button">help button</button>
</header>
<main>
    <!-- First Column For Channel Selection -->
    <div class="column people-column">
        <div class = "create-people-container">
        <div class="select-people-container">
            <button class="people-button">Friend</button>
            <button class="people-button">Friend</button>
            <button class="people-button">Friend</button>
            <button class="people-button">Friend</button>
            <button class="people-button">Friend</button>
            <button class="people-button">Friend</button>
            <button class="people-button">Friend</button>
            <button class="people-button">Friend</button>
            <button class="people-button">Friend</button>
            <button class="people-button">Friend</button>
            <button class="people-button">Friend</button>
            <button class="people-button">Friend</button>
            <button class="people-button">Friend</button>
            <button class="people-button">Friend</button>
            <button class="people-button">Friend</button>
            <button class="people-button">Friend</button>
            <button class="people-button">Friend</button>
            <button class="people-button">Friend</button>
            <button class="people-button">Friend</button>
            <button class="people-button">Friend</button>
            <button class="people-button">Friend</button>

        </div>

        <div class="profile-container">
            <img src="images/GuildTalkLogoNoTextClear.png" alt="Profile Picture">
            <div class="username">Username</div>
            <button class="settings-button">S</button>
        </div>
    </div>
    <!-- Second Column For Messages-->
    <div class="column message-board">
        <!--Example messages -->
        <div class="message-container">
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
            <div class="message">Example message</div>
        </div>
        <!-- Message input field -->
        <label>
            <textarea class="message-input" placeholder="Type your message"></textarea>
        </label>
</main>
</body>
</html>
