<!DOCTYPE html>
<html lang="en">
<head>
<meta charset = "utf-8">
<title>Help</title>
</head>
<body>
    <header>
        <h1>Help Page</h1>
    </header>
<nav>
        <ul>
            <li><a href="#section1">FAQ</a></li>
            <li><a href="#section2">Getting Started</a></li>
            <li><a href="#section3">Contact Us</a></li>
        </ul>
</nav>
    <section id="section1">
        <h2>FAQ</h2>
        <p>Click the following link to access our FAQ</p>
       <p> <a href="FAQ.html">FAQ</a></p>

    </section>
    <section id="section2">
        <h2>Getting Started</h2>
        		<ul>
        <li> 
        <h3>Channels</h3>
        <p>Channels are where you'll find discussions organized by topic. Click on a channel to view its messages and participate in the conversation.</p>
        </li>
        <li>
        <h3>Messaging</h3>
        <p>To send a message, simply type your text in the message input box at the bottom of the screen and press Enter. You can also send direct messages to other users by clicking on their name and selecting "Message".</p>
        </li>
        <li>
        <h3>Settings</h3>
        <p>Adjust your account settings to personalize your experience. You can change your username, profile picture, and more from the settings menu.</p>
        </li>
      </ul>
    </section>
    <section id="section3">
        <h2>Contact Us</h2>
        <p>If you need further assistance, please don't hesitate to contact us at <a href="mailto:support@example.com">support@example.com</a>.</p>
    </section>
</body>
</html>
