<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/ProfilePage.css">
</head>
<body>

    <div id="exit_div"> <!-- This div holds the image for the escape button in the top left corner of the screen -->
        <p>Hit Esc to go back</p>
        <img src="images/exit_button.png" alt="escape">
    </div>

    <div id="myaccount"> <p>My Account</p> </div>

    <main>
        <div id="banner">
        <!-- Some images will go here eventually -->
            <img src="images/black.jpg" alt="profile_pic" id="profile_pic">
        </div>
        <div id="information">  <!-- This is the white panel on the bottom that holds some information about user data -->
            <div id="name">
                <!-- When the user clicks this button a popup will appear that will contain a form where a user can enter the information they want to change -->
                <p>Name goes here <button type="button">Edit Profile</button></p>
            </div>
        <!-- This is for showing the actual information-->
            <div id="more_info">
                <div class="user_information">
                    <p><b>DISPLAY NAME: </b> Goes here</p>
                </div>
                <div class="user_information">
                    <p><b>USERNAME: </b> Goes here </p>
                </div>
                <div class="user_information">
                    <p><b>EMAIL: </b> Goes here </p>
                </div>
                <div class="user_information">
                    <p><b>PHONE NUMBER: </b> Goes here </p>
                </div>
            </div>
        </div>
</main>
</body>
</html>